.createForm{
  display: flex;
  flex-direction: column;
}

.inputLine {
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin-bottom: 1em;
  background-color: beige;
  border-radius: 5px;
  width: 50%;
}

.inputError {
  color: darkred
}