.productPage {
  display: flex;
  justify-content: space-between;
}

.productList {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  max-height: 30em;
  flex: 1;
}

.product {
  margin-bottom: 1em;
  padding: 1em;
  background-color: darkblue;
  color: white;
  display: inline-block;
  width: 15em;
  border-radius: 5px;
  font-weight: bold;
}

.navList {
  display: flex;
  flex-direction: column;
}

.navLink {
  margin-bottom: 1em;
}

.cmdPanel {
  padding: 0.5em 0;
}

.cmd {
  display: inline-block;
  margin-right: 0.5em;
  color: white
}